#babyroom {
    background-image: url(../css/images/Wallpaper1.png); 
    background-repeat:repeat;
    object-fit: fill;
    background-color: rgb(113, 241, 243);
    height: 100vh; 
    text-align: center;
    position:relative;
}

#baby {
    background-image: url(../css/images/Baby.png); 
    background-size: cover;
    height: 110px;
    width: 90px;
    position:absolute;
}


#bottle{
    background-image: url(../css/images/babybottle1.png); 
    background-size: cover;
    height: 70px;
    width: 50px;
    position:absolute;
}
 
#diaper {
        background-image: url(../css/images/babydiaper1.png); 
        background-size: cover;
        height: 50px;
        width: 50px;
        position:absolute;
}

#toy {
    background-image: url(../css/images/babytoy1.png); 
    background-size: cover;
    height: 50px;
    width: 50px;
    position:absolute;
}

#nap {
    background-image: url(../css/images/babynap1.png); 
    background-size: cover;
    height: 70px;
    width: 70px;
    position:absolute;
}

#win{
    background-image: url(../css/images/yeswin.jpeg); 
    background-size: cover;
    height: 250px;
    width: 450px;
    position:absolute;
    margin-top: 200px;
    margin-left: 400px;
    
}
